<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="IP" name='ipaddressinput' id='ipaddressinput'
             [(ngModel)]="ipAddressInputValue"
             (keyup)="addressKeyEvent($event)"
             (change)="updateNetwork()">
    </mat-form-field>
    &nbsp;
    <strong>/</strong>
    &nbsp;
    <mat-form-field class="example-full-width">
      <input matInput placeholder="subnet" name='subnetInput' id='subnetInput'
             [(ngModel)]="subnetInputValue"
             (change)="updateNetwork()"
             #subnetInput>
    </mat-form-field>
  </form>

  <mat-divider></mat-divider>

  <table>
    <tr>
      <td>
        Network
      </td>
      <td>{{result.network}}</td>
    </tr>
    <tr>
      <td>Subnet mask</td>
      <td>{{result.subnetMask}}</td>
    </tr>
    <tr>
      <td>Range</td>
      <td>{{result.range}}</td>
    </tr>
    <tr>
      <td>Usable IPs</td>
      <td>{{result.useableIPs}}</td>
    </tr>
  </table>
  <mat-divider></mat-divider>

  <div data-role='footer' style='text-align: center;'>
    <a href='https://attend2it.co.uk'>
      <img src='/assets/logo-tag-small.png' alt='Attend2IT' />
    </a>
  </div>
</div>
