<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span><mat-icon>mood</mat-icon></span>
  <span class="text-center">CIDR Subnet Calculator</span>
</mat-toolbar>

<mat-card>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="IP" name='ipaddressinput' id='ipaddressinput'
             [(ngModel)]="ipAddressInputValue"
             (keyup)="addressKeyEvent($event)"
             (change)="updateNetwork()">
    </mat-form-field>
    <br/>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="subnet" name='subnetInput' id='subnetInput'
             [(ngModel)]="subnetInputValue"
             (change)="updateNetwork()"
             #subnetInput>
    </mat-form-field>
  </form>
</mat-card>

<mat-card>
  <mat-card-title>Result</mat-card-title>
    <table>
      <tr>
        <td>
          Network
        </td>
        <td>{{result.network}}</td>
      </tr>
      <tr>
        <td>Subnet mask</td>
        <td>{{result.subnetMask}}</td>
      </tr>
      <tr>
        <td>Range</td>
        <td>{{result.range}}</td>
      </tr>
      <tr>
        <td>Usable IPs</td>
        <td>{{result.useableIPs}}</td>
      </tr>
    </table>
</mat-card>

<div data-role='footer' class="footer">
  <a href='https://attend2it.co.uk'>
    <img src='/assets/logo-tag-small.png' alt='Attend2IT' />
  </a>
</div>
